<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="usync" type="jumps.umbraco.usync.uSyncSettingsSection,jumps.umbraco.usync" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <usync read="true" write="false" attach="true" folder="~/uSync/" archive="~/uSync.Archive" versions="true">
    <!-- allows us to be more granualar later -->
  </usync>
</configuration>
