<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="usync" type="jumps.umbraco.usync.uSyncSettingsSection,jumps.umbraco.usync" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <usync 
    read="true" 
    write="false"
    attach="true" 
    folder="~/uSync/" 
    archive="~/uSync.Archive" 
    versions="true"     
    preserve="false" 
    watchFolder="false"
    dontThrowErrors="false" 
    >
    <!-- for a live site - you want don't throw errors = true, then the site won't be affected should usync do something bad -->
    <!-- add maxVersions="5" above if you want to keep the archive folder but not have it become massive -->

    <!-- legacy config - has been replaced in v7/v6.2 -->
    <PreservedPreValues>
      <add key="f8d60f68-ec59-4974-b43b-c46eb5677985" value="Colour Picker"/>
      <add key="b4471851-82b6-4c75-afa4-39fa9c6a75e9" value="checkbox list"/>
      <add key="a74ea9c9-8e18-4d2a-8cf6-73c6206c5da6" value="dropdown"/>
      <add key="928639ed-9c73-4028-920c-1e55dbb68783" value="dropdown multiple" />
      <add key="a52c7c1c-c330-476e-8605-d63d3b84b6a6" value="radiobox" />
    </PreservedPreValues>

    <MatchedPreValues>
      <add key="7e062c13-7c41-4ad9-b389-41d88aeef87c" value="Multi Node Tree Picker" />
      <add key="ef94c406-9e83-4058-a780-0375624ba7ca" value="DAMP Media Picker" />
    </MatchedPreValues>

    <!-- prevalues that contain content nodes-->

    <!-- turn bits on/off - default is on (true) (for backwards compatability) -->
    <Elements 
      dataTypes="true" 
      docTypes="true" 
      mediaTypes="true" 
      macros="true" 
      stylesheets="true"
      templates="true"
      dictionary ="true"
    />     
    
    <!-- 
        DocumentTypes -> DeletePropertyValues - 
          remove property values that are not in the uSync file 
    -->
    <DocumentTypes DeletePropertyValues="true" />
    
    <!-- DataTypes -> ContentPreValueAliases - 
           PreValues that may contain a ContentId (we will then try map between installs )
           WaitAndSave - the Save event is called early on some datatypes with prevalues
                         WaitAndSave waits a few seconds (around 8) before saving any changes
                         hopefully capturing all the things that have occured. 
    -->
    <DataTypes 
      ContentPreValueAliases="startNode, startNodeId" 
      StyleSheetAliases="editor"
      WaitAndSave="true" />
   
  </usync>
</configuration>
