<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="usync" type="jumps.umbraco.usync.uSyncSettingsSection,jumps.umbraco.usync" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <usync read="true" write="false" attach="true" folder="~/uSync/" archive="~/uSync.Archive" versions="true" preserve="false">
    <!-- prevalues that we don't delete (because they are lists) 
      
        if preserve is set to true, the when a prevalue is deleted from a datatype 
        of the type below, the the value will *not* be deleted
        
        if a prevalue is renamed, then a new prevalue will be created but the prevalue
        of the old name will *not* be deleted
      
      -->
    <PreservedPreValues>
      <add key="f8d60f68-ec59-4974-b43b-c46eb5677985" value="Colour Picker"/>
      <add key="b4471851-82b6-4c75-afa4-39fa9c6a75e9" value="checkbox list"/>
      <add key="a74ea9c9-8e18-4d2a-8cf6-73c6206c5da6" value="dropdown"/>
      <add key="928639ed-9c73-4028-920c-1e55dbb68783" value="dropdown multiple" />
      <add key="a52c7c1c-c330-476e-8605-d63d3b84b6a6" value="radiobox" />
    </PreservedPreValues>
  </usync>
</configuration>
