<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="usync" type="jumps.umbraco.usync.uSyncSettingsSection,jumps.umbraco.usync" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <usync
    read="true"
    write="false"
    attach="true"
    folder="~/uSync/"
    archive="~/uSync.Archive/"
    versions="true"
    preserve="false"
    watchFolder="false"
    itemRestore="false"
    fullRestore="false"
    backupOnImport="true"
    backupFolder = "~/app_data/temp/usync/backups/">

    <!--
      Backup and Restore: (New in 1.6) 
      ================================
      uSync can rollback where needed, the final version of an object is compared to 
      the import - if they don't match usync will rollback to a backup it takes before
      any changes where made So you can be assured that a change really did happen.
      
      this is off by default = the same behavior as before - best efforts. 
   
      itemRestore="true" < if a single import fails, usync will roll it back
      fullRestore="true" < if one item fails during the import, usync will roll back the whole lot
      backupFolder = "~/app_data/temp/usync/backups/" < where the backups for rollback are stored. 
    -->

    <!--  strictDelete="true" -->
    <PreservedPreValues>
      <add key="f8d60f68-ec59-4974-b43b-c46eb5677985" value="Colour Picker"/>
      <add key="b4471851-82b6-4c75-afa4-39fa9c6a75e9" value="checkbox list"/>
      <add key="a74ea9c9-8e18-4d2a-8cf6-73c6206c5da6" value="dropdown"/>
      <add key="928639ed-9c73-4028-920c-1e55dbb68783" value="dropdown multiple" />
      <add key="a52c7c1c-c330-476e-8605-d63d3b84b6a6" value="radiobox" />
    </PreservedPreValues>

    <MatchedPreValues>
      <add key="7e062c13-7c41-4ad9-b389-41d88aeef87c" value="Multi Node Tree Picker" />
      <add key="ef94c406-9e83-4058-a780-0375624ba7ca" value="DAMP Picker" />
    </MatchedPreValues>

    <!-- 
    
      Mappped data types (new in 1.6) 
      ===============================
      
      Datatypes where we try and map their internal IDs between installations 
    
      Key = the GUID of the DataTypeDefinition (id inside usync file)
      value = string containg the type of mapping you want to perform (any or one) content,stylesheet,tab
      
      preValueType = "text|json|number" <- type of content we are looking at - mostly text
      propertySplitChar = " "           <- some properties contain multiple values split rte does this see below
      propertyPosition = "N"            <- if we do split the string what posistion in the split are the ids ?
      propertyName = "[NAME]"           <- if the property has a name (inside JSON) then we use this to find it.
      idRegEx = "\d{1,9}"               <-  by default we look for numbers between 4-9 digits long (1000 - 999999999) 
                                            but for some things (notably tabs) the id can be less so override it if 
                                            the number is likely to be blow 1000
    -->
    <MappedDataTypes>
      <add key="7e062c13-7c41-4ad9-b389-41d88aeef87c" value="content" />      <!-- MultiNodeTreePicker -->
      <add key="c2d6894b-e788-4425-bcf2-308568e3d38b" value="content" />      <!-- uComponents: Legacy MNTP -->
      <add key="ef94c406-9e83-4058-a780-0375624ba7ca" value="content,mediatype" />      <!-- Damp -->

      <add key="5e9b75ae-face-41c8-b47e-5f4b0fd82f83" value="stylesheet"
           preValueType="text" propertySplitChar="|" propertyPosition="6" />  <!-- RTE Content -->
      
      <add key="2c787731-cd81-48cd-a94f-4930185bdb58" value="tab"
           preValueType="json" propertyName="TabIds" idRegEx="\d{1,9}"/>      <!-- uComponents SubTabs -->
      <add key="5e6468b4-233c-440f-b191-e85e4812d59a" value="tab" 
           preValueType="json" propertyName="TabIds" idRegEx="\d{1,9}" />     <!-- older version of SubTabs -->

      <add key="cdbf0b5d-5cb2-445f-bc12-fcaaec07cf2c" value="content"
           preValueType="text" propertySplitChar="|" propertyPosition="2" />  <!-- ultimate picker -->
    </MappedDataTypes>


    <!-- turn bits on/off - default is on (true) (for backwards compatability) -->
    <Elements
      dataTypes="true"
      docTypes="true"
      mediaTypes="true"
      macros="true"
      stylesheets="true"
      templates="true"
      dictionary ="true"
    />

    <!-- 
      The change reporter new in 1.6
      ==============================      
      Emails everytime a change happens 
    -->
    <Reporter ReportChanges="false" ReportNoChange="false" Email="kevin@jumoo.co.uk" />
    
    <!-- Remove property values that are not in the uSync file -->
    <DocumentTypes DeletePropertyValues="true" />

  </usync>
</configuration>
